.row {
	text-align: center;
}

.carousel {
	left: 50%;
	position: absolute;
	width: 800px;
	margin-left: -645px;
	margin-top: 40px;
	overflow:visible;
	height: 500px;
	top: 50px;

}

.carousel .item {
	width: 640px;
	height: 480px;
	background: hidden;
	background-size: 100%;
	border:double;
	vertical-align: middle;
	line-height: 150px;
	
}

.controls {
	position: absolute;
	top: 500px;
	left: 50%;
	width: 150px;
	margin-left: -75px;
}

.controls a {
	display: block;
}

.controls .previous {
	padding: 4px 4px 4px 4px;
	margin: 1px 1px 1px 1px;
	float:left;
	border:double;
	color: #FFF;
	background-color: #666;
	
}

.controls .previous:hover {    
    background-color: #333;
}

.controls .next {
	padding: 4px 4px 4px 4px;
	margin: 1px 1px 1px 1px;
	float:right;
	border:double;
	color: #FFF;
	background-color: #666;
	
}

.controls .next:hover {    
    background-color: #333;
}
